@import '@fontsource-variable/inter/wght.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background-light font-sans text-slate-900;
  }
}

* {
  box-sizing: border-box;
}

img,
video,
table {
  max-width: 100%;
  height: auto;
  /* Mantiene la proporción */
}